.Modal-background {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
}

.Modal-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: aliceblue;
}

