.CreateTodoButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    padding: 6px 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(58, 157, 255);
}

.CreateTodoButton:hover {
    background-color: rgb(58, 157, 255, 0.8);
}